@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    h1 {
        @apply text-4xl sm:text-6xl text-center;
    }

    h2 {
        @apply text-3xl sm:text-4xl text-center;
    }
}

@layer components {
    .button {
        background-color: theme('colors.primary.800');
        border-radius: theme('borderRadius.lg');
        border: solid theme('borderWidth.2') theme('colors.primary.700');
        box-shadow: 0 theme('spacing.button-shadow') 0 0
                theme('colors.primary.700'),
            0 theme('spacing.button-shadow') theme('spacing.button-shadow') 0
                rgba(0, 0, 0, 0.4);
        font-weight: theme('fontWeight.bold');
        @apply relative transition motion-reduce:transition-none;
        @apply active:translate-y-0 active:shadow-none;
        @apply -translate-y-2;
    }

    .button:hover {
        box-shadow: 0 theme('spacing.button-shadow-hover') 0 0
                theme('colors.primary.700'),
            0 theme('spacing.button-shadow-hover')
                theme('spacing.button-shadow-hover') 0 rgba(0, 0, 0, 0.4);
    }

    .button-confirm {
        background-color: theme('colors.success.200');
        border: solid theme('borderWidth.2') theme('colors.success.400');
        box-shadow: 0 theme('spacing.button-shadow') 0 0
                theme('colors.success.400'),
            0 theme('spacing.button-shadow') theme('spacing.button-shadow') 0
                rgba(0, 0, 0, 0.4);
    }

    .button-confirm:hover {
        box-shadow: 0 theme('spacing.button-shadow-hover') 0 0
                theme('colors.success.400'),
            0 theme('spacing.button-shadow-hover')
                theme('spacing.button-shadow-hover') 0 rgba(0, 0, 0, 0.4);
    }

    .button-danger {
        background-color: theme('colors.danger.200');
        border: solid theme('borderWidth.2') theme('colors.danger.300');
        box-shadow: 0 theme('spacing.button-shadow') 0 0
                theme('colors.danger.300'),
            0 theme('spacing.button-shadow') theme('spacing.button-shadow') 0
                rgba(0, 0, 0, 0.4);
    }

    .button-danger:hover {
        box-shadow: 0 theme('spacing.button-shadow-hover') 0 0
                theme('colors.danger.300'),
            0 theme('spacing.button-shadow-hover')
                theme('spacing.button-shadow-hover') 0 rgba(0, 0, 0, 0.4);
    }
}
