@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .button {
    background-color: theme('colors.sky.300');
    border-radius: theme('borderRadius.lg');
    border: solid theme('borderWidth.2') theme('colors.sky.400');
    box-shadow: 0 theme('spacing.button-shadow') 0 0 theme('colors.sky.400'), 0 theme('spacing.button-shadow') theme('spacing.button-shadow') 0 rgba(0, 0, 0, 0.4);
    @apply relative transition motion-reduce:transition-none;
    @apply active:border-lime-600 active:bg-lime-500 active:translate-y-0 active:shadow-none;
    @apply -translate-y-2;
  }

  .button:hover{
    box-shadow: 0 theme('spacing.button-shadow-hover') 0 0 theme('colors.sky.400'), 0 theme('spacing.button-shadow-hover') theme('spacing.button-shadow-hover') 0 rgba(0, 0, 0, 0.4);
  }
}
