@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    h1 {
        @apply text-4xl lg:text-6xl text-center;
    }

    h2 {
        @apply text-3xl lg:text-4xl text-center;
    }

    h3 {
        @apply text-2xl lg:text-3xl text-center;
    }
  :root {
        --radius: 0.5rem;
    }
}

@layer components {
    .button {
        background-color: theme('colors.primary.800');
        border-radius: theme('borderRadius.lg');
        border: solid theme('borderWidth.2') theme('colors.primary.700');
        box-shadow: 0 theme('spacing.button-shadow') 0 0
                theme('colors.primary.700'),
            0 theme('spacing.button-shadow') theme('spacing.button-shadow') 0
                rgba(0, 0, 0, 0.4);
        font-weight: theme('fontWeight.bold');
        @apply relative transition motion-reduce:transition-none;
        @apply active:translate-y-0 active:shadow-none;
        @apply -translate-y-2;
    }

    .button:hover {
        box-shadow: 0 theme('spacing.button-shadow-hover') 0 0
                theme('colors.primary.700'),
            0 theme('spacing.button-shadow-hover')
                theme('spacing.button-shadow-hover') 0 rgba(0, 0, 0, 0.4);
    }

    .button-confirm {
        background-color: theme('colors.success.200');
        border: solid theme('borderWidth.2') theme('colors.success.400');
        box-shadow: 0 theme('spacing.button-shadow') 0 0
                theme('colors.success.400'),
            0 theme('spacing.button-shadow') theme('spacing.button-shadow') 0
                rgba(0, 0, 0, 0.4);
    }

    .button-confirm:hover {
        box-shadow: 0 theme('spacing.button-shadow-hover') 0 0
                theme('colors.success.400'),
            0 theme('spacing.button-shadow-hover')
                theme('spacing.button-shadow-hover') 0 rgba(0, 0, 0, 0.4);
    }

    .button-danger {
        background-color: theme('colors.danger.200');
        border: solid theme('borderWidth.2') theme('colors.danger.300');
        box-shadow: 0 theme('spacing.button-shadow') 0 0
                theme('colors.danger.300'),
            0 theme('spacing.button-shadow') theme('spacing.button-shadow') 0
                rgba(0, 0, 0, 0.4);
    }

    .button-danger:hover {
        box-shadow: 0 theme('spacing.button-shadow-hover') 0 0
                theme('colors.danger.300'),
            0 theme('spacing.button-shadow-hover')
                theme('spacing.button-shadow-hover') 0 rgba(0, 0, 0, 0.4);
    }

    .card-primary {
        @apply rounded-lg bg-primary-800 p-2 border-solid border-2 border-primary-500/10
    }

    .card-secondary {
        @apply rounded-lg !text-secondary-200 bg-secondary-800 p-2 border-solid border-2 border-secondary-500/10
    }

    .icon {
        @apply h-6 w-6
    }

    .icon-lg {
        @apply h-8 w-8 sm:h-16 sm:w-16
    }
}

